body {
    background: black url(imagens/fundo.png) repeat;
    font: 16px Arial, Helvetica, sans-serif;
}

#principal{
    width: 900px;
}

#menu{
    background-color: #F4F4F6;
    padding: 3px;
}

a{
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    padding: 5px
}

#conteudo{
    background: #161616;
    color: white;
    padding: 10px;
}
#reservado{
    color:white;
}

.centralizar {
    text-align: center;
}

.div-flex {

    display: flex;
    
    align-items: center;
    
    justify-content: center;
    
    }
    
    h1{
        color:#E6E6E9;
        font-size: 1.2em;
    }

    .img-campanha{
        border:2px outset white;
    }
    
    .img-campanha2{
        border:2px outset white ;
    }

    .icone{
        width: 25px;
    }

    #divisao {
        display: flex;
    
    align-items: center;
    
    justify-content: center

    }
    #divisao2 {
        display: flex;
    
    align-items: center;
    
    justify-content: center

    }